.MoviesCardList {
  padding: 70px;
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .MoviesCardList {
    padding: 70px 30px;
  }
}

@media screen and (max-width: 320px) {
  .MoviesCardList {
    padding: 40px 10px 80px;
  }
}

.MoviesCardList__container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-auto-rows: 319px;
  column-gap: 28px;
  row-gap: 32px;
  justify-content: center;
}

@media screen and (max-width: 1270px) {
  .MoviesCardList__container {
    grid-template-columns: repeat(2, 342px);
    grid-auto-rows: 309px;
    column-gap: 24px;
    row-gap: 35px;
  }
}

@media screen and (max-width: 760px) {
  .MoviesCardList__container {
    grid-template-columns: 300px;
    grid-auto-rows: 271px;
    row-gap: 16px;
  }
}

.MoviesCardList__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  margin: 60px auto 0;
  width: 320px;
  height: 36px;
  background: #2F2F2F;
  border-radius: 6px;
  color: #ffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .MoviesCardList__button {
    margin-top: 80px;
  }
}

@media screen and (max-width: 320px) {
  .MoviesCardList__button {
    width: 240px;
  }
}
