@media screen and (min-width: 769px) {
  .Menu_only-mobile {
    display: none;
  }
}

.Menu__cover {
  grid-area: menu;
}

@media screen and (max-width: 768px) {
  .Menu__cover_hidden {
    visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .Menu__cover {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: flex-end;
  }
}

.Menu__container {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto;
}

@media screen and (max-width: 768px) {
  .Menu__container {
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto 1fr;
    justify-items: center;
    height: 100%;
    width: 68%;
    background-color: #202020;
  }
}

@media screen and (max-width: 320px) {
  .Menu__container {
    width: 100%;
  }
}

.Menu__close-button {
  margin: 23px 23px 0 0;
  justify-self: end;
}

@media screen and (max-width: 320px) {
  .Menu__close-button {
    margin: 14px 14px 0 0;
  }
}

.Menu__profile {
  width: 100px;
  display: flex;
  align-items: center;
  justify-self: end;
  justify-content: space-between;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .Menu__profile {
    align-self: end;
    justify-self: center;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 320px) {
  .Menu__profile {
    margin-bottom: 48px;
  }
}

.Menu__profile-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #313131;
  background-image: url(../../images/account.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
}
