.Promo {
  padding: 20px 40px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .Promo {
    padding: 20px 20px 0;
  }
}

@media screen and (max-width: 320px) {
  .Promo {
    padding: 14px 14px 0;
  }
}

.Promo__container {
  background: #272727;
  border-radius: 10px;
  height: 493px;
  display: grid;
  grid-template-rows: 1fr 96px;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .Promo__container {
    height: 834px;
  }
}

@media screen and (max-width: 320px) {
  .Promo__container {
    height: 586px;
  }
}
