.promo {
  padding: 20px 40px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 20px 20px 0;
  }
}

@media screen and (max-width: 320px) {
  .promo {
    padding: 14px 14px 0;
  }
}

.promo__container {
  background: #272727;
  border-radius: 10px;
  height: 493px;
  display: grid;
  grid-template-rows: 1fr 96px;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .promo__container {
    height: 834px;
  }
}

@media screen and (max-width: 320px) {
  .promo__container {
    height: 586px;
    grid-template-rows: 1fr 60px;
  }
}

.promo__title {
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .promo__title {
    padding-top: 64px;
  }
}

@media screen and (max-width: 320px) {
  .promo__title {
    padding-top: 20px;
  }
}
