.searchForm {
  padding: 70px 70px 47px;
  display: grid;
}

@media screen and (max-width: 768px) {
  .searchForm {
    padding: 80px 30px 60px;
  }
}

@media screen and (max-width: 320px) {
  .searchForm {
    padding: 84px 14px 50px;
  }
}

.searchForm__search-row {
  width: 100%;
  padding-bottom: 13px;
  border-bottom: 1px solid #424242;
  display: grid;
  grid-template-columns: 1fr auto;
}

@media screen and (max-width: 320px) {
  .searchForm__search-row {
    padding-bottom: 9px;
  }
}

.searchForm__search-button {
  width: 34px;
  height: 34px;
  margin-left: 10px;
  background-color: #4285F4;
  background-image: url(../../images/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.searchForm__search-button_disabled {
  background-color: #8B8B8B;
}

.searchForm__input {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #ffff;
  padding: 0;
  outline: none;
  width: 100%;
  border-radius: 3px;
}

.searchForm__input:focus {
  outline: rgba(355,355,355,0.1) solid 2px;;
}

@media screen and (max-width: 320px) {
  .searchForm__input {
    font-size: 18px;
    line-height: 22px;
  }
}

.searchForm__error-input {
  padding: 0;
  margin: 5px 0;
  font-size: 14px;
  line-height: 16px;
  min-height: 16px;
  color: #8B8B8B;
}

@media screen and (max-width: 320px) {
  .searchForm__error-input {
    font-size: 12px;
    line-height: 15px;
    min-height: 15px;
  }
}

.searchForm__chortfilm {
  display: flex;
  margin-top: 6px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .searchForm__chortfilm {
    justify-content: flex-end;
    margin-top: 3px;
  }
}

@media screen and (max-width: 320px) {
  .searchForm__chortfilm {
    justify-content: center;
    margin-top: 15px;
    font-size: 11px;
    line-height: 18px;
  }
}

.searchForm__chortfilm-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.searchForm__chortfilm-button {
  grid-column: 1;
  grid-row: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 36px;
  height: 20px;
  border: none;
  background: #8B8B8B;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  margin-right: 14px;
}

@media screen and (max-width: 768px) {
  .searchForm__chortfilm-button {
    grid-column: 2;
    margin: 0 0 0 14px;
  }
}

.searchForm__chortfilm-button_true {
  background: #3DDC84;
  justify-content: flex-end;
}

.searchForm__chortfilm-circle {
  width: 8px;
  height: 8px;
  background-color: #FFFF;
  border-radius: 50%;
  border: none;
}
