.Header {
  height: 74px;
  width: 100%;
  margin: 0;
  padding: 0 70px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logo menu";
  align-items: center;
}

@media screen and (max-width: 768px) {
  .Header {
    padding: 0 30px;
  }
}

@media screen and (min-width: 769px) {
  .Header_only-mobile {
    display: none;
  }
}

/* Логотип */
.Header__logo {
  grid-area: logo;
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  border: none;
}

.Header__sign-container {
  justify-self: end;
  display: flex;
  align-items: center;
  width: 200px;
}

.Header__signin {
  width: 76px;
  height: 32px;
  background-color: #3DDC84;
  border-radius: 3px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header__signin-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.Header__menu-button {
  grid-area: menu;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  background-image: url(../../images/menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  cursor: pointer;
  justify-self: end;
}
