.Header {
  height: 74px;
  width: 100%;
  margin: 0;
  padding: 0 70px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logo menu";
  align-items: center;
}

@media screen and (max-width: 768px) {
  .Header {
    padding: 0 30px;
  }
}

@media screen and (min-width: 769px) {
  .Header_only-mobile {
    display: none;
  }
}

/* Логотип */
.Header__logo {
  grid-area: logo;
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  border: none;
}

.Header__menu-cover {
  grid-area: menu;
}

@media screen and (max-width: 768px) {
  .Header__menu-cover_hidden {
    visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .Header__menu-cover {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: flex-end;
  }
}

.Header__menu {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: auto;
}

@media screen and (max-width: 768px) {
  .Header__menu {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    height: 100%;
    width: 68%;
    background-color: #202020;
  }
}

.Header__sign-container {
  justify-self: end;
  display: flex;
  align-items: center;
}

.Header__profile {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .Header__profile {
    align-self: end;
    margin-bottom: 92px;
  }
}

.Header__profile-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #313131;
  background-image: url(../../images/account.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
}

.Header__signin {
  width: 76px;
  height: 32px;
  background-color: #3DDC84;
  border-radius: 3px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header__signin-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.Header__menu-button {
  grid-area: menu;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  background-image: url(../../images/menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  cursor: pointer;
  justify-self: end;
}

.Header__close-button {
  margin: 25px 25px 0 0;
  justify-self: end;
}
