.notFoundPage {
  height: 100%;
  padding: 246px 0 60px;
  display: grid;
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .notFoundPage {
    padding: 408px 0 222px;
  }
}

@media screen and (max-width: 329px) {
  .notFoundPage {
    padding: 329px 0 30px;
  }
}

.notFoundPage__title {
  margin: 0 auto;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
}

@media screen and (max-width: 329px) {
  .notFoundPage__title {
    font-size: 80px;
    line-height: 97px;
  }
}

.notFoundPage__subtitle {
  margin: 5px auto 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

@media screen and (max-width: 329px) {
  .notFoundPage__subtitle {
    font-size: 12px;
    line-height: 15px;
    margin: 10px auto 0;
  }
}

.notFoundPage__back {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  margin: 184px auto 0;
  color: #4285F4;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: transparent;
}

@media screen and (max-width: 329px) {
  .notFoundPage__back {
    font-size: 12px;
    line-height: 15px;
    margin: 284px auto 0;
  }
}
